In [29]:
import pandas as pd

In [30]:
df = pd.read_csv("./raw/security/conjunto_de_datos_ensu_cb_0625.csv")

In [31]:
df=df[["NOM_ENT","NOM_MUN","BP1_2_01","BP1_2_03","BP1_4_1","BP1_4_2","BP1_4_3","BP1_4_4","BP1_4_5","BP1_4_6","BP1_4_7","BP1_4_8","BP1_5_1","BP1_5_2","BP1_6_4","BP2_2_03","BP2_2_11","BP2_2_14","BP3_1_05","BP3_1_07","BP3_1_08","BP3_1_10","BP3_1_11","BP3_1_13","BP3_1_14","BP4_1_1","BP4_1_2","BP4_1_3","BP4_1_7","BP4_1_8"]]
df

,NOM_ENT,NOM_MUN,BP1_2_01,BP1_2_03,BP1_4_1,BP1_4_2,BP1_4_3,BP1_4_4,BP1_4_5,BP1_4_6,...,BP3_1_08,BP3_1_10,BP3_1_11,BP3_1_13,BP3_1_14,BP4_1_1,BP4_1_2,BP4_1_3,BP4_1_7,BP4_1_8
0,AGUASCALIENTES,AGUASCALIENTES,2,2,1,1,1,1,1,1,...,0,0,0,0,1,2,2,2,2,2
1,AGUASCALIENTES,AGUASCALIENTES,1,2,2,2,1,1,2,2,...,1,1,0,0,1,1,2,2,2,1
2,AGUASCALIENTES,AGUASCALIENTES,1,1,2,2,2,1,2,2,...,0,0,0,1,1,2,2,2,2,2
3,AGUASCALIENTES,AGUASCALIENTES,1,1,1,1,1,1,1,2,...,1,0,0,1,1,2,2,2,2,2
4,AGUASCALIENTES,AGUASCALIENTES,1,1,2,2,2,2,2,2,...,0,0,0,1,1,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23712,ZACATECAS,ZACATECAS,1,2,2,2,2,2,2,2,...,1,1,1,1,1,2,2,2,2,2
23713,ZACATECAS,ZACATECAS,1,2,2,2,2,2,2,9,...,0,1,0,0,1,2,2,2,2,2
23714,ZACATECAS,ZACATECAS,1,1,2,2,2,2,2,2,...,0,1,1,0,1,2,2,2,2,2
23715,ZACATECAS,ZACATECAS,1,2,2,2,1,2,2,1,...,0,1,1,1,1,2,2,2,2,2
23716,ZACATECAS,ZACATECAS,1,2,1,2,2,2,2,2,...,0,0,0,0,0,2,2,2,2,2

In [36]:
df=df.query('NOM_ENT=="CIUDAD DE MEXICO"').reset_index()
df = df.applymap(lambda x: 3 if isinstance(x, (int, float)) and x > 3 else x)

In [37]:
df

,level_0,index,NOM_ENT,NOM_MUN,BP1_2_01,BP1_2_03,BP1_4_1,BP1_4_2,BP1_4_3,BP1_4_4,...,BP3_1_08,BP3_1_10,BP3_1_11,BP3_1_13,BP3_1_14,BP4_1_1,BP4_1_2,BP4_1_3,BP4_1_7,BP4_1_8
0,0,3,CIUDAD DE MEXICO,AZCAPOTZALCO,1,2,2,1,2,2,...,1,1,1,0,1,2,2,2,2,2
1,1,3,CIUDAD DE MEXICO,AZCAPOTZALCO,1,1,2,1,2,1,...,1,1,1,0,1,2,2,2,2,1
2,2,3,CIUDAD DE MEXICO,AZCAPOTZALCO,2,2,1,1,1,1,...,1,1,1,1,1,2,2,2,2,2
3,3,3,CIUDAD DE MEXICO,AZCAPOTZALCO,1,2,1,1,1,1,...,0,1,1,1,0,2,2,2,2,2
4,3,3,CIUDAD DE MEXICO,AZCAPOTZALCO,1,2,1,1,1,1,...,0,1,0,0,0,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4246,3,3,CIUDAD DE MEXICO,VENUSTIANO CARRANZA,1,2,2,2,2,2,...,1,1,0,0,0,2,2,2,2,2
4247,3,3,CIUDAD DE MEXICO,VENUSTIANO CARRANZA,1,1,2,2,2,2,...,0,1,0,0,0,2,2,2,2,2
4248,3,3,CIUDAD DE MEXICO,VENUSTIANO CARRANZA,1,2,2,1,2,1,...,1,1,1,0,0,2,2,2,2,2
4249,3,3,CIUDAD DE MEXICO,VENUSTIANO CARRANZA,1,2,2,1,2,2,...,1,1,1,1,0,2,2,2,2,2
4250,3,3,CIUDAD DE MEXICO,VENUSTIANO CARRANZA,1,2,1,1,1,1,...,1,1,1,0,0,2,2,2,2,2

In [34]:
df.to_csv("./output/security.csv", index=False)